html {
    box-sizing: border-box;
}

body {
    background-color: $defaultBgColor;
}

* {
    margin: 0;
    padding:0;
} 

/* Revert some browser defaults to have default behavior on some elements */
ul, li, ol, button {
    margin: revert;
    padding: revert;
}